[submodule "deeplearning_libs/bts"]
	path = deeplearning_libs/bts
	url = https://github.com/cogaplex-bts/bts.git
[submodule "deeplearning_libs/semantic_segmentation_pytorch"]
	path = deeplearning_libs/semantic_segmentation_pytorch
	url = https://github.com/CSAILVision/semantic-segmentation-pytorch.git
